{% load static %}

<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'styles/sidebar.css' %}">

{% if request.user.is_authenticated %}
<nav>
    <ul>
        <form method="GET" action="{% url 'home' %}">
            <input type="text" , name="q" , placeholder="Search...">
        </form>

        <li>
            <a href="/"><i class="fa fa-user"></i>   {{ request.user.first_name }}</a>
        </li>

        <li class="logo"><img alt=""
                src="https://upload.wikimedia.org/wikipedia/en/a/ae/Devi_Ahilya_Vishwavidyalaya_Logo.png">
        </li>

        <li>
            <a href="/"><i class="fa fa-home"></i>   home</a>
        </li>

        {% if request.user.is_staff == False %}
        <li>
            <a href="/announcement"><i class="fa fa-bullhorn"></i>   announcements</a>
        </li>
        {% endif %}

        {% if request.user.is_staff == False %}
        <li>
            <a href="/academic"><i class="fa fa-graduation-cap"></i>   accademics</a>
        </li>
        {% endif %}

        <li>
            <a href="/queries"><i class="fa fa-question-circle-o" aria-hidden="true"></i>   queries</a>
        </li>

        {% if request.user.is_staff %}
        <li>
            <a href="/new-post"><i class="fa fa-plus" aria-hidden="true"></i>   new post</a>
        </li>
        {% endif %}
        
        <li>
            <a href="/logout"><i class="fa fa-sign-out"></i>   Logout</a>
        </li>
    </ul>
</nav>
{% endif %}