.post {
    position: relative;
    width: 70%;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    margin-left: 270px;
    background: rgba(237, 241, 247, 0.818);
    box-sizing: border-box;
    box-shadow: 0 3px 3px rgba(123, 122, 127, 0.5);
    border-radius: 10px;
    align-items: center;
}

.post-title {
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    display: inline-flex;
    text-align: center;
    justify-content: space-between;
}

.post h2 {
    text-transform: uppercase;

}

.post img {
    position: absolute;
    width: 50px;
    margin-left: 0px;
    border-radius: 50%;
    margin-top: 5px;
}

.inside {
    display: inline-block;
    margin-left: 60px;
    margin-top: -10px;
    padding-top: -100px;

}

.inside h2 {
    margin-top: 20px;
    padding-top: 0px;
}

.inside .time {
    margin-top: -15px;
    width: 100%;
    display: inline-flex;
    text-align: center;
    justify-content: space-between;
}

.outer_post {
    /* border: 2px solid red; */
    width: 100%;
    /* height: 400px; */
    position: relative;
    position: relative;
    width: 100%;
    height: 100vh;
    /* border: 2px solid red; */
    overflow: scroll;
    /* margin: 70px 10px 100px 10px; */
    padding-top: 70px;
    padding-bottom: 50px;

    /* background: grey; */
    bottom: 10px;
}