{% extends 'index.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'styles/post.css' %}">

<head>
    <title>Query</title>
</head>


<div class="outer_post">

    <div class="in_post">

        <div class="in_post-title">
            <h2 style="font-size:36px; display: inline;">{{ query.title }}</h2>
        </div>
        <div class="logo">
            <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="">
            <div class="inside">
                <h2 style="font-size: 20px;">{{ query.author }}</h2>
                <div class="time">
                    <h1 style="font-size: 12px;">Created : {{ query.created }}</h1>
                </div>
            </div>
        </div>
        <div class="in_post-desc">
            {{ query.description|linebreaks }}
        </div>
        <hr style="color: black">
    </div>

    <div class="comment_box">

        {% if request.user.is_staff %}
        <form method="POST">
            {% csrf_token %}
            <div class="comment">
                <input type="text" name="body" placeholder="add a answer...">
            </div>
        </form>
        {% endif %}

        <div class="answers">
            <h4>Answers</h3>
                {% for answer in answers %}
                <div>

                    <small>
                        @{{ answer.author }} : {{ answer.created|timesince }} ago <br>
                        {{ answer.body }}
                    </small>
                </div>
                <br>
                {% endfor %}
        </div>

    </div>
</div>


{% endblock content %}